# OPENCLAW IMAGE
OPENCLAW_IMAGE="ghcr.io/openclaw/openclaw:<image_tag>"

# OPENCLAW CONFIG
OPENCLAW_CONFIG_DIR="./config"
OPENCLAW_CONFIG_PATH="./openclaw.json"
OPENCLAW_WORKSPACE_DIR="./config/workspace"
OPENCLAW_TZ="America/Sao_Paulo"

# OPENCLAW SECURITY
# Example generator: openssl rand -hex 32
OPENCLAW_GATEWAY_TOKEN="1111111111111111111111111111111111"
OPENCLAW_ALLOW_INSECURE_PRIVATE_WS="1"

# OPENCLAW NETWORK
OPENCLAW_GATEWAY_BIND="lan"
OPENCLAW_GATEWAY_PORT="18789"
OPENCLAW_BRIDGE_PORT="18790"

# OPENCLAW LLM PROVIDERS APIS
#DEEPSEEK_API_KEY="sk-..."
# OPENAI_API_KEY=sk-...
# ANTHROPIC_API_KEY=sk-ant-...
# GEMINI_API_KEY=...

# OPENCLAW CLAUDE CODE SIGNATURE CONFIG
CLAUDE_AI_SESSION_KEY=""
CLAUDE_WEB_COOKIE=""
CLAUDE_WEB_SESSION_KEY=""

# OPENCLAW CHANNELS CONFIG
TELEGRAM_BOT_TOKEN="111111111:AAAAAAAAAAA_BBB-CCCC-DDDDDDD"

# CADDY CONFIG
CADDY_IMAGE="caddy:<image_tag>"
CADDY_CONFIG_FILE="./caddy/Caddyfile"
CADDY_CERT_DIR="./caddy/certs"